<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="Bod">

    <h2>Avast Antivirus </h2>
    <h6><small>Software</small></h6>
    <br>
    <div class="ima">
        <img srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Avast_logo_2021.svg/250px-Avast_logo_2021.svg.png"
            sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Avast_logo_2021.svg/250px-Avast_logo_2021.svg.png">
    </div>
    <br>
    <p>Fuente: Google <br>
        Avast es un software antivirus y suite de seguridad de la firma checa Avast Software (antes conocida como ALWIL
        Software),​desarrollado a principios de la década de 1990.​ Según el informe AV Comparatives de junio de 2020
        es el antivirus y suite de seguridad más utilizado del mundo, sin contar a Microsoft Defender que es el
        antivirus que viene incluido y activado en el sistema operativo Windows.
        <br>
        Los productos Avast Antivirus incluyen versiones gratuitas y de pago que proporcionan seguridad informática,
        protección de la privacidad en Internet, seguridad de navegador, protección de cuentas, software antivirus,
        cortafuegos, protección contra filtraciones, antiphishing, antispyware y antispam entre otros servicios,
        dependiendo del tipo de dispositivo.​ Cuenta con un motor de análisis central que paso con éxito las pruebas de
        ICSA Labs certificación y West Coast Labs, además AV-Test informó en junio de 2021 que Avast Antivirus Free
        había detectado el 99,3% del malware en las pruebas correspondientes.
    </p>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Misión
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Fuente: Google <br>

                    «Organizar la información del mundo para que todos puedan acceder a ella y usarla».<br>

                    Cuando tienes una pregunta, ¿qué es lo primero qué haces? Tú y otros millones de personas acuden al
                    mismo lugar para encontrar la respuesta: Google. Larry Page, su cofundador y CEO, describió una vez
                    el motor de búsqueda perfecto como algo capaz de entender lo que quieres y ofrecerte exactamente lo
                    que necesitas.<br>

                    En consecuencia, trabajan para comprender mejor la intención de la gente al usar su buscador, al
                    mismo tiempo que actualizan sus algoritmos para ofrecer la información más relevante y útil.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Visión
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Fuente: Google <br>
                    La visión de HubSpot se puede resumir en los siguientes aspectos:<br>

                    1. Trabajamos para el cliente.<br>
                    2. Trabajamos para ser muy transparentes.<br>
                    3. Favorecemos la autonomía y la responsabilidad.<br>
                    4. Creemos que nuestra mejor ventaja son los compañeros increíbles.<br>
                    5. Nos inclinamos por el impacto a largo plazo.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Razón Social
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                    <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                    happening here in terms of content, but just filling up the space to make it look, at least at first
                    glance, a bit more representative of how this would look in a real-world application.
                </div>
            </div>
        </div>
    </div>


</div>