<div class="ser">
    <div class="card-group ">
        <div class="card text-center">
            <img id="peq" class="card-img-top"
                src="https://support.avast.com/resource/1669292099000/avast_resources/img/homepage-tiles/rebrand-install.svg?orgId=00Db0000000Z3Sf"
                alt="Fuentes Avast Antivirus">
            <div class="card-body">
                <h5 class="card-title">Instalación y activación</h5>
                <p class="card-text">Descargue, y active el producto.</p>
                
            </div>
        </div>
        <div class="card text-center">
            <img id="peq" class="card-img-top"
                src="https://support.avast.com/resource/1669292099000/avast_resources/img/homepage-tiles/rebrand-refund.svg?orgId=00Db0000000Z3Sf"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Solicitud de reembolso</h5>
                <p class="card-text">Solicite un reembolso durante el período de garantía de 30 días.</p>
            </div>
        </div>
        <div class="card text-center">
            <img id="peq" class="card-img-top"
                src="https://support.avast.com/resource/1669292099000/avast_resources/img/homepage-tiles/rebrand-unsubscribe.svg?orgId=00Db0000000Z3Sf"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Anular la suscripción</h5>
                <p class="card-text">Solicite la cancelación del pago automático del próximo período de suscripción.</p>
            </div>
        </div>
        
    </div>
    <h6><small>Tomado de Avast Antivirus</small></h6>
</div>