<div class="bod">
    <h5>
        Ponte en contacto con nosotros
    </h5>
    <h6>
        <small>Es importante tu Email y nombre completo</small>
    </h6>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Elige una opcion</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Avast..</option>
            <option value="1">Avast Free antivirus</option>
            <option value="2">Avast Pro Antivirus 0.54/mes</option>
            <option value="3">Avast Pro Antivirus 3.99/año</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-text">Comentarios adicionales</span>
        <textarea class="form-control" aria-label="Comentarios"></textarea>
        <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
        <label class="btn btn-primary" for="btn-check">Enviar</label>
    </div>

    <div class="Map">
        <h5>
            Aquí nos Ubicamos:
        </h5>
        <h6>
            <small>Usa el mapa</small>
        </h6>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15764.808190943431!2d-75.44612509999999!3d8.953521499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1669578174549!5m2!1ses!2sco"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>