<div class="Bod">
    <h2>Historia sobre Avast</h2>
    <h6><small>Tomado de wikipedia</small></h6>
    <br>
    <p>
        Pavel Baudiš, científico del Instituto de Máquinas Matemáticas de Praga, el "Viennavirus" en 1988 y escribió un
        programa que podría eliminar el virus. Con su colega Eduard Kučera, fundó la Alwil Software Cooperativa y la
        transformó en una empresa privada en 1991, después de que el cambio político a través de la revolución de
        terciopelo abrió la posibilidad.
        <br>
        Ondrej Vlček se unió en 1995 y escribió el primer programa antivirus para Windows 95. En 1996, Avast Antivirus
        ganó el "Premio VB100" de la revista Virus Bulletin en todas las categorías probadas. Para el año 2002, el
        número de usuarios aumentó a un millón, principalmente debido a la versión gratuita disponible para usuarios
        privados a partir de 2001. A finales de 2006, el número había aumentado a 20 millones, y el software fue
        galardonado con los "Premios SC" En el mismo año, en las categorías "Mejor Antivirus, Anti-Malware" (Europa) y
        "Readers 'Choice" ("Elección de los usuarios") (EUA). Cuando Alwil se convirtió en una sociedad anónima en 2006,
        Avast Antivirus ya contaba con 40 millones de usuarios.
        <br>
        En 2010 la compañía tomó el nombre de su programa antivirus y cambió su nombre de Alwil Software a Avast
        Software. En los dos años siguientes, el producto básico fue desarrollado para clientes corporativos como una
        "línea de protección de negocios" y una "seguridad móvil gratuita de Avast" desarrollada para dispositivos
        móviles. En la plataforma de Download.com, Avast Free Antivirus fue el software más descargado del año 2012 y
        2013, más de 200 millones de PC, Macs y dispositivos Android fueron protegidos por Avast Antivirus,
        posteriormente se lanzó una versión para IOS.
    </p>
<br>
    <h3>Evolucion del logo</h3>
<br>
    <div class="Carrousel">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Avast_logo.svg/195px-Avast_logo.svg.png"
                        class="d-block w-100" alt="...">
                    <p>1991 - 2010</p>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Avast_Software_logo.svg/313px-Avast_Software_logo.svg.png"
                        class="d-block w-100" alt="...">
                    <p>2010 - 2016</p>
                </div>
                <div class="carousel-item">
                    <img id="Carrousel"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Avast_Software_logo_2016.svg/382px-Avast_Software_logo_2016.svg.png"
                        class="d-block w-100" alt="...">
                    <p>2016 - Presente</p>
                </div>
                <div class="carousel-item">
                    <img id="Carrousel"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Avast_logo_2021.svg/386px-Avast_logo_2021.svg.png"
                        class="d-block w-100" alt="2021">
                    <p>2021 - Presente</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

</div>